/* Define styles for unvisited links */
a:link {
    color: blue;
    text-decoration: none; /* Remove underline if desired */
}

/* Define styles for visited links */
a:visited {
    color: blue; /* Set the color to blue for visited links */
}

/* Define styles for hovered links */
a:hover {
    color: purple; /* Change color on hover if desired */
}

#home-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #007bff; /* Blue background color, you can change this */
    color: #fff; /* Text color */
    padding: 10px; /* Adjust padding as needed */
}

#home-box a {
    text-decoration: none;
    color: #fff; /* Link color */
    font-weight: bold;
    font-size: 18px;
}

#education-box {
    position: absolute;
    top: 0;
    left: 67px; /* Adjust the left value to move the Education block to the right */
    background-color: #007bff; /* Blue background color, you can change this */
    color: #fff; /* Text color */
    padding: 10px; /* Adjust padding as needed */
}

#education-box a {
    text-decoration: none;
    color: #fff; /* Link color */
    font-weight: bold;
    font-size: 18px;
}
#experience-box {
    position: absolute;
    top: 0;
    left: 168px; /* Adjust the left value to move the Education block to the right */
    background-color: #007bff; /* Blue background color, you can change this */
    color: #fff; /* Text color */
    padding: 10px; /* Adjust padding as needed */
}

#experience-box a {
    text-decoration: none;
    color: #fff; /* Link color */
    font-weight: bold;
    font-size: 18px;
}

/* Style for the project dropdown container */
#project-box {
    position: absolute;
    top: 0;
    left: 277px; /* Adjust the left value to position the dropdown */
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

#project-box  a {
    text-decoration: none;
    color: #fff; /* Link color */
    font-weight: bold;
    font-size: 18px;
}

.center {
    text-align: center;
}

.middle-block {
    text-align: center;
    margin: 0 auto; /* Center the block horizontally */
}